body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
background:#f4f6f9;
}

h1,h2{
    text-align:center;
    color:#0b3d91;
    margin-top:30px;
}

.container{

width:90%;
max-width:900px;
margin:auto;
margin-top:30px;

background:white;
padding:30px;

border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

/* NAVBAR */

.admin-navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#003366;
color:white;
padding:15px 30px;
}

.admin-navbar a{
color:white;
text-decoration:none;
margin:0 15px;
font-weight:bold;
}

.logo{
font-size:20px;
font-weight:bold;
}

/* USER MENU */

.user-menu{
position:relative;
cursor:pointer;
}

.dropdown{
display:none;
position:absolute;
background:white;
color:black;
right:0;
top:30px;
border-radius:5px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.dropdown a{
display:block;
padding:10px;
color:black;
}

.user-menu:hover .dropdown{
display:block;
}

/* DASHBOARD */

.dashboard{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:30px;
}

.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
    text-align:center;
}
            
.card h2{
    font-size:40px;
    margin:0;
    color:#003366;
}

/* TABLAS */

table{
width:90%;
margin:30px auto;
border-collapse:collapse;
background:white;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
}

th{
background:#003366;
color:white;
}

/* BOTONES */
button{
    background:#0b3d91;
    color:white;
    padding:10px;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
}

.btn{
display:inline-block;
padding:10px 15px;
background:#003366;
color:white;
text-decoration:none;
border-radius:5px;
margin:5px;
}

.btn:hover{
background:#001f4d;
}

/* FORMULARIOS */

form{
display:flex;
flex-direction:column;
gap:12px;
}

label{
    font-weight:bold;
    color:#333;
}

input,select,textarea {
    padding:8px;
    margin-bottom:15px;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

/* AGENDA */

.agenda-preview{
width:400px;
margin:auto;
}

.bloque-ocupado{
background:#b30000;
color:white;
padding:8px;
margin:5px 0;
border-radius:4px;
}

.menu{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:40px;
    text-align: center;
}


/* RESPONSIVE */

@media(max-width:768px){

.admin-navbar{
flex-direction:column;
align-items:flex-start;
}

.dashboard{
grid-template-columns:1fr;
}

}