body{

font-family: "Segoe UI", Arial, sans-serif;
background:#f5f7fa;
margin:0;
padding:0;

}

/* Encabezados */

h1,h2{

text-align:center;
color:#0b3d91;
margin-top:30px;

}

/* Contenedor principal */

.container{

width:90%;
max-width:900px;
margin:auto;
margin-top:30px;

background:white;
padding:30px;

border-radius:10px;

box-shadow:0 4px 10px rgba(0,0,0,0.1);

}

/* Formularios */

form{

display:flex;
flex-direction:column;
gap:12px;

}

label{

font-weight:bold;
color:#333;

}

input{

padding:10px;
border:1px solid #ccc;
border-radius:6px;

}

/* Botones */

button{

background:#0b3d91;
color:white;

padding:10px;

border:none;
border-radius:6px;

font-weight:bold;

cursor:pointer;

}

button:hover{

background:#082c6c;

}

/* Tablas */

table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}

th{

background:#0b3d91;
color:white;
padding:10px;

}

td{

padding:10px;
border-bottom:1px solid #ddd;
text-align:center;

}

tr:hover{

background:#f1f3f5;

}

/* Panel principal */

.panel-opciones{

display:flex;
flex-direction:column;

gap:15px;

width:300px;
margin:auto;
margin-top:40px;

}

.panel-opciones a{

background:#0b3d91;
color:white;

padding:12px;

text-decoration:none;
border-radius:6px;

text-align:center;
font-weight:bold;

}

.panel-opciones a:hover{

background:#082c6c;

}

.header{
    background:#003366;
    color:white;
    padding:20px;
}

.header h1{
    background:#003366;
    color:white;
    padding:20px;
}

.dashboard{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:40px;
}
            
.card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
    text-align:center;
}
            
.card h2{
    font-size:40px;
    margin:0;
    color:#003366;
}
            
.menu{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:40px;
}
            
.btn{
    background:#003366;
    color:white;
    padding:20px;
    text-align:center;
    border-radius:8px;
    text-decoration:none;
}
            