* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* NAVBAR */
.navbar {
    background-color: #1f5f99;
    padding: 15px 0;
    position: relative;
}

.nav-container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    opacity: 0.7;
}

.login-btn {
    color: white;
    text-decoration: none;
    border: 3px solid black;
    padding: 8px 25px;
    border-radius: 30px;
    font-weight: bold;
}

/* BARRA DORADA */
.campus-bar {
    background-color: #b68c2f;
    color: white;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 5rem;
}

/* CONTENIDO */
.container {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.container-info {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
    gap: 169px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
}

.project-card img {
    width: 100%;
    margin: 15px 0;
    border-radius: 4px;
}

.card h2 span {
    color: #b68c2f;
}

.card h3 {
    margin-bottom: 10px;
    color: #1f5f99;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    color: #1f5f99;
    text-decoration: none;
}

.chart-placeholder {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .container-info {
         grid-template-columns: 1fr;
    }

    .menu {
        display: none;
    }
}

/*TODO LOS CAMBIOS A NEUVOS A PARTIR DEL CSS QUE ES ANTERIOR AL PROYECTO*/
@media (min-width: 992px) {
  #mainNav {
    border-bottom: none;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink .nav-link {
    padding: 0.2rem 1.5rem 0.2rem;
    border-bottom: 0.25rem solid transparent;
  }
}

.border {
    opacity: 0.9;
    border-width: 1px;
    border-radius: 0.375rem;
    border-style: solid;

}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

footer {
    padding: 2rem 10rem 0;
    color: white;
    background-color: #08245a;
    margin-top: 1.5rem;
}
